.menu-item {
  cursor: pointer;
  transform: translateX(0);
  transition: 0.2s ease-in;
}

.menu-item:hover {
  transform: translateX(var(--spacing-1));
}

.menu {
  z-index: 1;
}

@media screen and (max-width: 960px) {
  .menu {
    display: none;
  }
}