:root {
  --input-height: 50px;
}
.contact-input-container {
  position: relative;
  height: 50px;
  margin-bottom: var(--spacing2);
  width: 100%;
}

.contact-input {
  width: 100%;
  background-color: transparent;
  border: solid 1px white;
  color: white;
  font-family: 'Poppins';
  position: absolute;
  height: 100%;
  padding: var(--spacing1) var(--spacing1) 0 var(--spacing1);
  font-size: 16px;
  transition: 0.5s;
  box-sizing: border-box;
}


.contact-label {
  position: absolute;
  color: white;
  font-family: 'Poppins';
  transition: 0.5s;
  margin-left: var(--spacing1);
  text-transform: capitalize;
}

.contact-label-unfocused {
  margin-top: calc((var(--input-height) - 24px) / 2);
  font-size: 16px;
}

.contact-label-focused {
  font-size: 12px;
  margin-top: 8px;
  opacity: 0.8;
  position: absolute;
}

.contact-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px white;
}

.contact-textarea:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.contact-textarea {
  width: 100%;
  resize: none;
  background-color: transparent;
  border: solid 1px white;
  color: white;
  font-family: 'Poppins';
  height: 100%;
  padding: var(--spacing1);
  font-size: 16px;
  transition: 0.5s;
  box-sizing: border-box;
}

.contact-textarea:focus {
  outline: none;
}

.contact-textarea-container {
  position: relative;
  height: 250px;
  margin-bottom: var(--spacing2);
  width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}

.paper-anim {
  position: absolute;
  top: 50px;
  right: -350px;
}

.form-container {
  position: relative;
  width: 100%;
}

.submit-button {
  position: absolute;
  right: 0;
  z-index: 2;
  height: 130px;
  width: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background:none;
  border:none;
  cursor: pointer;
  color: white;
  font-family: 'Poppins';
  transition: 0.5s ease-in;
}

.submit-button:hover {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  transition: 0.5s ease-in;
}

input:disabled {
  color: rgba(255, 255, 255, 0.5);
}

textarea:disabled {
  color: rgba(255, 255, 255, 0.5);
}

@keyframes shake {
  0% { transform: translateX(3px) }
  20% { transform: translate(-3px) }
  40% { transform: translate(3px) }
  60% { transform: translate(-3px) }
  80% { transform: translate(2px) }
  100% { transform: translate(-3px) }
}

.shake {
  animation: shake 0.3s ease-in;
}

.shake .contact-label {
  animation: shake 0.5s;
}