.container{

 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 10px;
 box-sizing: border-box;
 height: 170px;
}

.active {
    border: 2px solid var(--blue);
    border-radius: 5px;
}

.pfp {
    height: 50px;
    margin-bottom: 10px;
    pointer-events: none;
    transition: 0.25s;
}
.activeplayer {
    height: 80px;
    transition: 0.25s;
}
.p {
    margin-bottom: 0;
}

.life {
    height: 15px;
    margin: 2px;
}

.livesContainer{
    display: flex;
    justify-content: center;
}


.dead {
    -webkit-filter: grayscale(100%);
}
@media screen and (max-width: 700px) { 
       
    
    
}
