.projectSection {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.1);
  padding: var(--spacing2);
  width: 100%;
  min-height: 400px;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
}

.boundingBox {
  box-sizing: border-box;
  padding: var(--spacing2) var(--spacing2) 0 0;
  width: 50%;
}

.toolChip {
  background-color: rgba(255, 255, 255, 0.15);
  width: fit-content;
  padding: 0px 5px;
  border-radius: 5px;
  border: 1px solid white;
  margin-right: 4px;
  margin-top: 4px;
}

.chipContainer {
  display: flex;
  flex-wrap: wrap;
}
.icon {
  fill:white;
}

.titleBox {
  align-items: center;
  justify-content: space-between;
}

.winner {
  color: white;
  fill: white;
  font-size: 16px;
  -webkit-filter: drop-shadow( 0px 0px 2px rgba(255, 255, 255, .7));
  filter: drop-shadow( 0px 0px 2px rgba(255, 255, 255, .7));
  width: fit-content;
  cursor: pointer;
}

.winnerText {
  margin-left: 8px;
}

.popover {
  background-color: rgba(255,255,255, 0.4);
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: 16px;
}

.triangle {
  width: 10px;
height: 10px;
background-color: rgba(255,255,255, 0.4);
clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.point {
  font-size: 16px;
}
@media screen and (max-width: 800px) {
  .boundingBox {
    width: 100%;
    
  }
}